# Ignorar outputs de treinamento e arquivos pesados
notebooks/wandb/*
wandb*
models/*.pth
plots/*
slurm/*.out
*.out

# Ignorar arquivos temporários e caches
*.pyc
*.h5
*.pth
*.tiff
*.png

# Ignorar qualquer pasta __pycache__ em qualquer lugar
__pycache__/
**/__pycache__/
